<div id="myModal">
	<div id="modalHeader">
		<h4>Подтвердите действие</h4>
	</div>
	<div id="modalBody">
		<h5>Вы действительно хотите безвозвратно удалить объект?</h5>
	</div>
	<div id="modalFooter">
		<button id="buttonOk" onclick="removeObject">
			Подтвердить
		</button>
		<button id ="buttonClose" onclick="closeModal">
			Закрыть
		</button>
	</div>
</div>